*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
 background-color: #fff;

}
nav{
  height:6vh;
  width: 100vw;
  min-width:600px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin:auto;
  background-color: white;
}
a{
  position: relative;
  text-decoration: none;
  font-family: Ariel;
  color:red;
  font-size: 20px;
  letter-spacing: 0.5;
  padding: 0 10px;
}
a:after{
 content: "";
  position: absolute;
  background-color: #009CDC;
  height: 3px;
  width:0;
  left:0;
  bottom: -10px;
  transition: 0.3s;
}
a:hover:after{
width:100%;

}
